*{
    margin:0;
    padding:0;
}
body{
    margin-left: 20px;
    margin-right: 20px;
    min-height: 800px;
    position:relative;
    padding-bottom: 100px;
}
#photo{
    border-radius:300px;
    border: rgb(239, 236, 232) 5px solid;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row . content {
    height:
            450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
.form{
    margin-bottom: 20px;
}
.form table{
    border:3px #ad0a5e dashed;
    background-color: #60ebaf;

}
.form table th{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form table tr td{
    padding-top: 12px;
    padding-bottom: 12px;

}
/*.body1{*/
    /*padding-bottom: 100px;*/
/*}*/
.footer {
    background-color: #555;
    margin-top: 20px;
    width:100%;
    position:absolute;
    height:70px;
    bottom:0;
    padding-top: 30px;
    color: white;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height:
                auto;
        padding:
                15px;
    }

    .row . content {
        height:
                auto;
    }
}