*{
    margin:0;
    padding:0;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}
#photo{
    border-radius:300px;
    border: rgba(250, 241, 147, 0.63) 5px solid;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row . content {
    height:
            450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height:
                auto;
        padding:
                15px;
    }

    .row . content {
        height:
                auto;
    }
}